.DS_Store
.idea
*.log
tmp/
src/target/
src/project/target/
src/project/project/
src/project
src/sim_output/
src/.bsp/
src/simWorkspace/
.bloop/
.metals/
.idea/
.vscode/
out/

modeling/.vscode
modeling/__pycache__
